doctype html
head 
    title Contato 
body 
    <center>
    h1 Envie o seu comentário
    block content
        form(action='/comentario', method='post')
            p Usuário
            input(type="text",     name="usuario",    placeholder="Seu nome...",                 required)
            p Email
            input(type="email",    name="email",      placeholder="Seu e-mail...",               required)
            p Comentário
            textarea(              name="comentario", placeholder="Informe o seu comentário...", required, rows=10, cols=80)
            p Senha
            input(type="password", name="senha",      placeholder="Senha para o comentário...",  required)
            p
            button(type="submit")
                | Enviar    
    block foot
      #footer
        p
        | Copyright 2021 Denis Pereira Raymundo | All Rights Reserved